@charset "UTF-8";
body {
    background-color: rgb(0, 0, 0);
    color: white;
}

h1 {
    font-weight: bold;
    font-size: 5rem;
    line-height: 0.5;
}

p {
    font-size: 25px;
}

li {
    font-size: 25px;
}
